/* Container for the login form */
.login-container {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  width: 500px; /* Set max width for the form */
  text-align: center;
}

.login-text {
  font-size: xx-large;
  margin: 0px;
}

/* Form elements */
.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

/* Button styles */
.login-btn, .new-user-btn {
  padding: 12px;
  background-color: #eab676;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0; /* Space between buttons */
}

/* Optional: Add hover effect for buttons */
.login-btn:hover, .new-user-btn:hover {
  background-color: #c89758; /* Darker shade for hover effect */
}
