/* Container for the register form */
.register-container {
  background-color: rgb(255, 255, 255);;
  padding: 80px;
  width: 100%;
  width: 400px; /* Set max width for the form */
  text-align: center;
}

/* Form elements */
.register-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}


/* Input fields */
.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}


/* Full Name and Phone Number styling */
.full-name,
.phone-number {
  background-color: #222;
  color: white;
}



/* Submit button */
.register-btn {
  padding: 15px;
  background-color: #eab676;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
 
}

.register-btn:hover {
  background-color:#eab676; /* Darker green on hover */
}

