.dashboard-render {
    flex-grow: 1; /* Make the content area take the remaining space */
    padding: 20px; /* Add padding for content spacing */
    background-color: #f9f9f9; /* Background color for the content area */
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
  }