.home-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Better shadow for visibility */
  
}

.home-container h2 {
  font-size: 70px; /* Increase text size */
  font-weight: bold; /* Make text bold */
  background-color: rgb(255, 255, 255);
  padding: 10px 20px; /* Add padding to text */
  letter-spacing: 2px; /* Add some spacing between letters */
}

