#root {
  height: 100%;

}


.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row; /* Allow horizontal layout for sidebar and content */
  height: 100vh; /* Fill the screen height */
  width: 100%;
  box-sizing: border-box;
}
