

#root {
  min-width: 100vw !important
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Set the background color to black */
  color: white; /* Text color white */
  display: flex;
  height: 100vh;
}

/* Heading */
h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #af634c; /* Green border when focused */
}

